PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=mt1

# Optional overrides
PUSHER_CHANNEL=nfc
PUSHER_REGISTRATION_EVENT=nfc-registration
PUSHER_STATION_EVENT=nfc-station

# Users list API
USERS_API_URL=https://my.lovenudebeautyhotel.com/api/users/without-nfc
API_SECRET=
